<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageDict.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageDict.Properties.Settings>
            <setting name="DefaultContentsListFilename" serializeAs="String">
                <value>Content.txt</value>
            </setting>
            <setting name="DefaultSourceDir" serializeAs="String">
                <value>Data</value>
            </setting>
            <setting name="DefaultStartOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultFileFormatString" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="DefaultSettingsFilename" serializeAs="String">
                <value>Settings.json</value>
            </setting>
            <setting name="DefaultContentColumnSeparator" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="DefaultContentHaveEnds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleBySize" serializeAs="String">
                <value>По размеру страницы</value>
            </setting>
            <setting name="ScaleByHeight" serializeAs="String">
                <value>По высоте</value>
            </setting>
            <setting name="ScaleByWidth" serializeAs="String">
                <value>По ширине</value>
            </setting>
            <setting name="DefaultIconName" serializeAs="String">
                <value>Icon.ico</value>
            </setting>
        </ImageDict.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
