<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageBook.Properties.Settings>
            <setting name="DefaultContentsListFilename" serializeAs="String">
                <value>Content.txt</value>
            </setting>
            <setting name="DefaultSourceDir" serializeAs="String">
                <value>Data</value>
            </setting>
            <setting name="DefaultStartOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultFileFormatString" serializeAs="String">
                <value>0000</value>
            </setting>
        </ImageBook.Properties.Settings>
    </userSettings>
</configuration>